<div class="container-fluid">
  <div class="panel panel-primary">
  	<div class="panel-heading">
  		<h3><strong>{{main.police_username}} 's Profile</strong></h3>
  	</div>
  </div>
  <br>
      <table class="table table-hover table-bordered table-sm">
        <thead class="yellow lighten-3">
          <tr>
            <td><strong>Username</strong></td>
            <td><strong>Email Address</strong></td>
            <td><strong>Police Station</strong></td>
            <td><strong>Permission</strong></td>
            <td><strong>Password</strong></td>
          </tr>
        </thead>
          <tr>
            <td>{{ main.police_username }}</td>
            <td>{{ main.police_email }}</td>
            <td>{{ main.police_station }}</td>
            <td>{{ main.police_permission }}</td>
            <td>****************</td>
          </tr>
      </table>
</div>
